<swiper-container
  navigation="true"
  pagination="true"
  pagination-clickable="true"
>
  <swiper-slide>
    <img src="/assets/images/image1.jpg" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="/assets/images/image2.jpg" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="/assets/images/image3.jpg" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="/assets/images/image4.jpg" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="/assets/images/image5.jpg" alt="">
  </swiper-slide>
</swiper-container>
